# Ignore Git-related files
.git/
.gitignore

# Ignore environment files (if any)
.env

# Ignore development-specific files
docker-compose.yml
docker-compose.override.yml

# Ignore build files (if not needed in the container)
build/
node_modules/

# Ignore IDE-specific files
.idea/
.vscode/