
/** nav */
.nav{
  height: 20vh;
}

/* home */
/**slider */
.slider-cont{
  margin-bottom: 20vh;
  width: 75%;
}
.slider{
  height: 70vh;
  background: #d5e2f2;
  overflow: hidden;
}

@media(max-width:767px)
{  
  .nav{height: initial;}
  .slider-cont{width: 100%;}
}

/** enlarge images */
/** click img to enlarge*/
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000e6;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}
.overlay img {
	max-width: 100%;
	max-height: 90%;
}
.close-btn {
	position: absolute;
	top: 2vh;
	right: 2vw;
	font-size: 30px;
	color: #e11313;
	cursor: pointer;
}
.no-scroll{
	overflow: hidden;
}
/**end enlarge images */
.sliderBtn{
  font-size: 3vw;
  width: 7%;
  
}

.child{
  background: #8ae9a5;
  height: fit-content;
}
.col-lg-4{width: 32%;}
.one-quote{  
  background-image: url('./images/flower.png');
  height: 140vh;
}
.footer{
  text-align: left !important;
  background: #426475;
}
@media(max-width:767px)
{
  .col-lg-4{width: 100%;}
  .child{height: fit-content;}
  .sliderBtn{font-size: 7vw;width: 12%;}
}

/* not*/
.not{
    height: 30vh;
    padding: 12vh 0 0;
    font-size: 3vw;
}
/** mor e*/
.w-fit{width: fit-content}
.minh{min-height: 100vh;}
