
/** nav */
.nav{
  height: 20vh;
}
.nav img{
  width: 11vw;
}
/* home */
/**slider */
.slider-cont{
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 20vh;
}
.slider{
  height: 70vh;
  width: 84%;
  background: #d5e2f2;
  overflow: hidden;
}
.slider-son img{
  width: 16vw;
}
/** enlarge images */
/** click img to enlarge*/
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000e6;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}
.overlay img {
	max-width: 100%;
	max-height: 90%;
}
.close-btn {
	position: absolute;
	top: 2vh;
	right: 2vw;
	font-size: 30px;
	color: #e11313;
	cursor: pointer;
}
.no-scroll{
	overflow: hidden;
}
/**end enlarge images */
.sliderBtn{
  font-size: 4vw;
  font-weight: bold;
  width: 5%;
  position: relative;
  right: 3vw;
  background: #e2ec82;
  border: none;
  color: green;
}
.nextBtn{left: 3vw;}
.child{
  background: #8ae9a5;
  height: 150vh;
}
.one-quote{  
  background-image: url('./images/flower.png');
  background-size: cover;
}
.footer{
  text-align: left !important;
  background: #426475;
}
/** */
/** try */
.try-cont{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.try-cont div{
  width: 30%;
  border: 1px solid gray;
  margin-bottom: 4vh;

}
/* not*/
.not{
    height: 30vh;
    padding: 12vh 0 0;
    font-size: 3vw;
}
/** col */
.col-3,.col-md-3,.col-sm-3{width: 23%;}
.col-4,.col-md-4,.col-sm-4{width: 31%;}
.col-6,.col-md-6,.col-sm-6{width: 48%;}
/** mor e*/
.w-fit{width: fit-content}
.wid-custom{width: 75%;}