body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.google-cont{
  position: fixed;
  bottom:-4vh;
  left: 80%;
}
.google-cont select{height: 7vh;}
@media(max-width:767px)
{.google-cont{left: 38%;}}
@media(min-width:768px)
{.google-cont{left: 75%;}}
@media(min-width:992px)
{.google-cont{left: 80%;}}
@media(min-width:1200px)
{.google-cont{left: 83%;}}